.products {
    background-color: $background-secondary;
    padding: 60 0 60 0px;
}
.products__content {
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 148px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    @media screen and (min-width: $mobile){
        margin-top:148px;
    }
    @media screen and (min-width: $tablet){
        margin-top:158px;
        gap: 16px;

    }
    @media screen and (min-width: $desktop){
        margin-top:281px;
        gap: 32px;
    }
}
.products__label {
     color:$products-subtext;
     Font-family: $Secondaryfont;
     Line-height: 1.16;
     text-align: center; 
     text-transform:uppercase;
@media screen and (min-width: $mobile){
    Font-size: 18px;
}
@media screen and (min-width: $tablet){
    Font-size: 26px;
}
@media screen and (min-width: 1200px) {
    Font-size: 30px;
}
}
.products__header { 
    color: $products-title;
    Font-family: $Secondaryfont;     
    Line-height: 1.14;
    text-align: center;  
    Letter-spacing: 0.04em;
    text-transform:uppercase;
    @media screen and (min-width: $mobile){
        margin-top:15px;
        Font-size: 34px;
    }
    @media screen and (min-width: $tablet) {
        margin-top:18px;
        Font-size: 48px;
    }
    @media screen and (min-width: 1200px) {
        margin-top:16px;
        Font-size: 58px;
    }
}
.products__card{
    position:relative; 
    border-radius : 24px;
    background-color: $products-ice-cream;
    display:flex;
    flex-direction: column;
    justify-content: center;
        width: 100vw;
        height: 489px;
        // margin-bottom:140px;
        padding:160 0 40 0px;
    @media screen and (min-width: 480px){
        width:480px;
    }
    @media screen and (min-width: $tablet) {
        width: calc((100% - 64px)/3);
        height: 473px;
        margin-bottom: 0;
        padding:118 0 40 0px;
    }
    @media screen and (min-width: $desktop) {
        width: 368px;
        height: 535px;
        margin-bottom: 0;
        padding:165 0 60 0px;
        }
        }
.products__card::before {
    position:absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,-50%);
    display:block;
    content:"";    
     
    @media screen and (min-width: $mobile){
        width: 280px;
        height: 280px;
        background-size: 280px 280px;
    }
    @media screen and (min-width: $tablet) {
        width: 224px;
        height: 224px;
        background-size: 224px 224px;
        top: -140px;
    left: 50%;
    transform: translate(-50%)
    }
    @media screen and (min-width: $desktop) {
        width: 368px;
        height: 394px;
        background-size: 368px 394px;
        left: 100%;
        top:-261px;
        transform: translate(-100%);
    }
}
@media screen and (min-width: $mobile) {
.products__card::before {
    background-image:url(../images/products/pictures-product/mobile/ice-cream.png);
}
.products__card:nth-child(2)::before {
    background-image:url(../images/products/pictures-product/mobile/icecoffee.png)
}
.products__card:last-child::before {
    background-image:url(../images/products/pictures-product/mobile/milkshake.png)
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx){
.products__card::before {
        background-image:url(../images/products/pictures-product/mobile/ice-cream2x.png);
    }
.products__card:nth-child(2)::before {
        background-image:url(../images/products/pictures-product/mobile/icecoffee2x.png)
    }
.products__card:last-child::before {
        background-image:url(../images/products/pictures-product/mobile/milkshake2x.png)
    }
}
}
@media screen and (min-width: $tablet){
    .products__card::before {
        background-image:url(../images/products/pictures-product/tablet/icecream.png);
    }
    .products__card:nth-child(2)::before {
        background-image:url(../images/products/pictures-product/tablet/icecoffee.png)
    }
    .products__card:last-child::before {
        background-image:url(../images/products/pictures-product/tablet/milkshake.png)
    }
 @media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx){
.products__card::before {
        background-image:url(../images/products/pictures-product/tablet/icecream2x.png);
    }
.products__card:nth-child(2)::before {
        background-image:url(../images/products/pictures-product/tablet/icecoffee2x.png)
    }
.products__card:last-child::before {
        background-image:url(../images/products/pictures-product/tablet/milkshake2x.png)
    }
}
}
@media screen and (min-width: $desktop){
    .products__card::before {
        background-image:url(../images/products/pictures-product/desktop/icecream.png);
    }
    .products__card:nth-child(2)::before {
        background-image: url(../images/products/pictures-product/desktop/icecoffee.png);
    }
    .products__card:last-child::before {
        background-image: url(../images/products/pictures-product/desktop/milkshake.png);
    }
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx){
.products__card::before {
        background-image:url(../images/products/pictures-product/desktop/icecream2x.png);
    }
.products__card:nth-child(2)::before {
        background-image:url(../images/products/pictures-product/desktop/icecoffee2x.png)
    }
.products__card:last-child::before {
        background-image:url(../images/products/pictures-product/desktop/milkshake2x.png)
    }
}
}
.products__title::after {
    position: absolute;
    content:"";
    width: 26px;
    height: 6px;        
    background-repeat: no-repeat;
    background-image: url(../images/products/pictures-product/elements/Ellipse\ 6.png),
    url(../images/products/pictures-product/elements/Ellipse\ 6.png),
    url(../images/products/pictures-product/elements/Ellipse\ 6.png);
    background-position: left 0 top 0, left 10px top 0, right 0 top 0;
    @media screen and (min-width: $mobile){
        top:215px;
        left: 50%;
    transform: translate(-50%,-50%);
    }
    @media screen and (min-width: $tablet){
    top:173px;
   
    }
     @media screen and (min-width: $desktop) {
            top:243px;
          
        }
    }   
.products__title{
    font-family: $Secondaryfont;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform:uppercase;
    color:$header-text-primary;       
    margin-top:0px;
    @media screen and (min-width: $mobile) {
        font-size: 20px;
    }
    @media screen and (min-width: $tablet) {
        font-size: 20px;
    }
    @media screen and (min-width: $desktop) {
        font-size: 30px;
    }
    }
.products__text {    
    margin-top: 70px;
    text-align: center;
    font-family: $Primaryfont;
    font-weight: 700;    
    letter-spacing: 0.04em;
    color:$header-text-primary;
    @media screen and (min-width: $mobile){
        height: 124px;
        line-height: 1.65;
        font-size: 14px;
        padding-left:40px;
        padding-right: 40px;
    }
    @media screen and (min-width: $tablet){
        height: 150px;
        line-height: 1.78;
        font-size: 14px;
        padding-left:32px;
        padding-right: 32px;
    }
    @media screen and (min-width: $desktop){
        height: 106px;
        line-height: 1.75;
        font-size: 16px;
        padding-left:63px;
        padding-right: 63px;
    }
}

.products__card:nth-child(2) {
    background-color:$products-ice-coffee ;
}
.products__card:last-child { 
background-color: $products-milkshakes;
@media screen and (min-width: $mobile) {
    margin-bottom: 0;
}
}
.products__button {
    width: 40px;
    height: 40px;
    background-image: url(../images/products/pictures-product/elements/button.png);
    background-size: contain;
    border:none;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top:32px;
    margin-bottom:0;
    @media screen and (min-width: $mobile){
        // margin: 32px 81 0 79px;
        // margin-left: 120px;
        // margin-right: 120px;
    }
    @media screen and (min-width: $tablet){
        // margin-left: 92px;
        // margin-right: 92px;
    }
    @media screen and (min-width: $desktop){
        // margin-left: 164px;
        // margin-right: 164px;
    }
    @media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx){
background-image:url(../images/products/pictures-product/elements/button2x.png)
}
}
    



    
    
    
    
    
    
    
    
   

