.products {
    background-color: $background-secondary;
    padding: 60 0 60 0px;
}
.products__content {
    list-style-type:none;
    margin:0;
    padding:0; 
    }
    border-box {
        margin:0;
        padding:0;
    }
.container {
  @media screen and (min-width: 320px) {
    padding: 0 20px 0 20px;
}
@media screen and (min-width: 768px){
    padding: 0 32px 0 32px;
}
@media screen and (min-width: 1200px){
    padding: 0 16px 0 16px;
}
}
.products__label {   
     color:$products-subtext;
     Font-family: Titan One;
     Font-style: Regular;
     Line-height: 1.16;
     text-align: center;
     Vertical-align: Top;
     text-transform:uppercase;
@media screen and (min-width: 320px){
    Font-size: 18px;
}
@media screen and (min-width: 768px){
    Font-size: 26px;
}
@media screen and (min-width: 1200px) {
    Font-size: 30px;
}
}
.products__header { 
    color: $products-title;
    Font-family: Titan One;
    Font-style: Regular;  
    Line-height: 1.14;
    text-align: center;
    Vertical-align: Top;
    Letter-spacing: 0.04em;
    text-transform:uppercase;
    @media screen and (min-width: 320px){
        margin-top:15px;
        Font-size: 34px;
    }
    @media screen and (min-width: 768px) {
        margin-top:18px;
        Font-size: 48px;
    }
    @media screen and (min-width: 1200px) {
        margin-top:16px;
        Font-size: 58px;
    }
}
.products__card{
    position:relative; 
    border-radius : 24px;
    background-color: $products-ice-cream;
    @media screen and (min-width: 320px){
        width: 280px;
        height: 489px;
        margin-bottom:140px;
        padding:140 39 40 41px;
    }
    @media screen and (min-width: 768px) {
        width: 224px;
        height: 473px;
        margin-bottom: 0;
        padding:118 32 40 32px;
        gap:16px;
    }
    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 535px;
        margin-bottom: 0;
        padding:165 63 60 64px;
        gap:32px;
        }
        }
.products__card::before {
    position:absolute;
    transform: translatey(-140px);
    top:0;
    left:0;
    display:block;
    content:"";    
    background-image:url(../images/products/pictures-product/icecream-min.png); 
    @media screen and (min-width: 320px){
        width: 280px;
        height: 280px;
        background-size: 280px 280px;
    }
    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        background-size: 224px 224px;
    }
    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 394px;
        background-size: 368px 394px;
        transform: translatey(-261px);
    }
}
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx)  {
.products__card::before {
        background-image: url(../images/products/pictures-product/icecream2-min.png);
    }
  }        
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx)  {
.products__card:nth-child(2)::before {
   background-image: url(../images/products/pictures-product/icecream2-min.png);
    }
  }
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx)  {
.products__card:last-child::before {
    background-image: url(../images/products/pictures-product/milksheik2-min.png);
        }
      }
.products__title::after {
    position: absolute;
    content:"";
    width: 26px;
    height: 6px;        
    background-repeat: no-repeat;
    background-image: url(../images/products/pictures-product/Ellipse\ 5-min.png),
    url(../images/products/pictures-product/Ellipse\ 5-min.png),
    url(../images/products/pictures-product/Ellipse\ 5-min.png);
    background-position: left 0 top 0, left 10px top 0, right 0 top 0;
    @media screen and (min-width: 320px){
        top:215px;
        left:127px;
    }
    @media screen and (min-width: 768px){
    top:173px;
    left:99px;
    }
        @media screen and (min-width: 1200px) {
            top:231px;
            left:172px;
        }
    }   
.products__title{
    font-family: Titan One;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform:uppercase;
    color:$header-text-primary;       
    @media screen and (min-width: 320px){
        margin-top:0px;
    }
    @media screen and (min-width: 768px){
        margin-top:20px;
     }
    @media screen and (min-width: 1200px) {
        margin-top:0px;
    }
}
.products__text {    
    margin-top: 70px;
    text-align: center;
    font-family: DM Sans;
    Font-style: Bold;
    font-size: 14px;
    font-weight: 700;    
    letter-spacing: 0.04em;
    color:$header-text-primary;
    @media screen and (min-width: 320px){
        height: 124px;
        line-height: 1.65;
    }
    @media screen and (min-width: 768px){
        height: 150px;
        line-height: 1.78;
    }
    @media screen and (min-width: 1200px){
        height: 106px;
        line-height: 1.75;
    }
}
.products__card:nth-child(2)::before {
    background-image: url(../images/products/pictures-product/icecoffe-min.png);
}
.products__card:last-child::before {
    background-image: url(../images/products/pictures-product/milksheik-min.png);
}
.products__card:nth-child(2) {
    background-color:$products-ice-coffee ;
}
.products__card:last-child { 
background-color: $products-milkshakes;
@media screen and (min-width: 320px) {
    margin-bottom: 0;
}
}
.products__content {
    @media screen and (min-width: 320px){
    margin-top:148px;
}
@media screen and (min-width: 768px){
    margin-top:158px;
    display:flex;
    justify-content: space-between;
}
@media screen and (min-width: 1200px){
    margin-top:281px;
    display:flex;
    justify-content: space-between;
}
}
.products__button {
    width: 40px;
    height: 40px;
    background-image: url(../images/products/pictures-product/button-min.png);
    background-size: contain;
    border:none;
    border-radius: 50%;
    @media screen and (min-width: 320px){
        margin: 32px 81 0 79px;
    }
    @media screen and (min-width: 768px){
        margin:32 60 0 60px;
    }
    @media screen and (min-width: 1200px){
        margin:60 100 0 100px;
    }
}
    



    
    
    
    
    
    
    
    
   

