h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-family: $Primaryfont;
  background-color: $background-main;
  color: $text-primary;

  &.menu-open .page-header {
    overflow: hidden;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;



  width: 100vw;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @include mq(tab) {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;

  }

  @include mq(tab) {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;

  }

  @include mq(desc) {
    width: 1200px;
  }

}