
h1,
h2,
h3,
ul,
p {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}
body {
    font-family: $Primaryfont;
    background-color: $background-main;
    color: $text-primary;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $mobile) {
        width: $mobile;
    };
    @media screen and (min-width:$tablet) {
        width: $tablet;
    };
    @media screen and (min-width:$desktop) {
        width: $desktop;
    };
}