.page-header {
  position: relative;
  padding-top: 8px;
  background-color: $header-background;
  // width: 100vw;
  overflow: hidden;
  @media screen and (min-width: $tablet) {
    padding-top: 0;
  }
  &--display {
    display: flex;
    align-items: center;
    @media screen and (min-width: $desktop) {
      margin: 0;
    }
  }
}

.page-header__logo {
  height: 50px;
  text-decoration: none;
  z-index: 2;
  @media screen and (min-width: $tablet) {
    margin-top: 32px;
    margin-left: 17px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 37px;
    margin-left: 1px;
  }
}

.menu__btn {
  cursor: pointer;
  color: $header-text-secondary;
  background-color: #ffffff;
  margin-top: 60px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: none;
  border-radius: 22px;
  padding: 12px 0;
  width: 209px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 58px;
    margin-bottom: 20px;
    width: 186px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 141px;
    margin-right: 1px;
    width: 159px;
  }
}

.buy-now__icon {
  margin-left: 20px;
}

