.page-header {
  position: relative;
  padding-top: 8px;
  background-color: $header-background;
  width: 100vw;
  overflow: hidden;
  @media screen and (min-width: $tablet) {
    padding-top: 0;
  }
  &--display {
    display: flex;
    align-items: center;
  }
}

.page-header__logo {
  text-decoration: none;
  @media screen and (min-width: $tablet) {
    margin-top: 32px;
    margin-left: 17px;
  }
}

.page-header__menu--button {
  cursor: pointer;
  color: $header-text-secondary;
  background-color: #ffffff;
  margin: 60px 21px 19px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: none;
  border-radius: 22px;
  padding: 10px 0;
  width: 209px;
  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center;
  display: flex;

  // transition-property: background-color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon {
  margin-left: 20px;
}

.page-header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header__content--ellipse {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: $header-circle;
  position: absolute;
  bottom: 75px;
  left: 36px;
  z-index: 1;
  @media screen and (min-width: $tablet) {
    width: 335px;
    height: 333px;
    left: 248px;
    bottom: 40px;
  }
}

.page-header__title {
  margin-top: 136px;
  margin-left: 20px;
  display: inline-block;

  max-width: 218px;
  font-family: $Secondaryfont;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $header-text-primary;
  z-index: 3;
  @media screen and (min-width: $tablet) {
    margin-top: 20px;
    margin-left: 32px;
    font-size: 22px;
    line-height: 1.14;
  }
}

.page-header__title--accent {
  font-family: $Secondaryfont;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.97;
  text-transform: uppercase;
  color: $header-text-secondary;
  @media screen and (min-width: $tablet) {
    font-size: 34px;
    line-height: 0.91;
  }
}

.page-header__content--buttons {
  z-index: 3;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 158px;
  margin-left: 20px;
  @media screen and (min-width: $tablet) {
    margin-left: 32px;
    margin-bottom: 0;
  }
}

.page-header__content--btn1 {
  background-color: #d41443;
  color: $header-text-primary;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 7px 14.5px;
  font-family: $Primaryfont;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
}

.page-header__content--btn2 {
  margin-left: 8px;
  background-color: #ffffff;
  color: $header-text-secondary;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 7px 13.5px;
  font-family: $Primaryfont;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
}

.header__img {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 2;
  @media screen and (min-width: $tablet) {
    right: 303px;
  }
}

.page-header__content--advantages {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 32px;
  }
}

.header__img--milk {
  //   display: none;
}

.page-header__content--text {
  //   display: none;
  @media screen and (min-width: $tablet) {
    font-weight: 400;
    font-size: 8px;
    line-height: 15;
    color: $header-text-primary;
    display: inline;
  }
}

.header__img--tasty {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    position: absolute;
    right: 32px;
    bottom: 0;
    z-index: 2;
  }
}
