.page-header {
  position: relative;
  padding-top: 8px;
  background-color: $header-background;
  width: 100vw;
  overflow: hidden;
  @media screen and (min-width: $tablet) {
    padding-top: 0;
  }
  &--display {
    display: flex;
    align-items: center;
    @media screen and (min-width: $desktop) {
      margin: 0;
    }
  }
}

.page-header__logo {
  text-decoration: none;
  z-index: 2;
  @media screen and (min-width: $tablet) {
    margin-top: 32px;
    margin-left: 17px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 37px;
    margin-left: 1px;
  }
}

.page-header__menu--button {
  cursor: pointer;
  color: $header-text-secondary;
  background-color: #ffffff;
  margin-top: 60px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: none;
  border-radius: 22px;
  padding: 12px 0;
  width: 209px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  @media screen and (min-width: $tablet) {
    margin-top: 58px;
    margin-bottom: 20px;
    width: 186px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 141px;
    margin-right: 1px;
    width: 159px;
  }
  // transition-property: background-color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon {
  margin-left: 20px;
}

.page-header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header__content--ellipse {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: $header-circle;
  position: absolute;
  bottom: 75px;
  left: 36px;
  z-index: 1;
  @media screen and (min-width: $tablet) {
    width: 335px;
    height: 333px;
    left: 248px;
    bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
    width: 534px;
    height: 534px;
    left: 517px;
    bottom: 76px;
  }
}

.page-header__title {
  margin-top: 136px;
  margin-left: 20px;
  display: inline-block;

  max-width: 218px;
  font-family: $Secondaryfont;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $header-text-primary;
  z-index: 3;
  @media screen and (min-width: $tablet) {
    margin-top: 20px;
    margin-left: 32px;
    font-size: 22px;
    line-height: 1.14;
    max-width: 162px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 60px;
    margin-left: 16px;
    font-size: 38px;
    line-height: 1.16;
    max-width: 277px;
  }
}

.page-header__title--accent {
  font-family: $Secondaryfont;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.97;
  text-transform: uppercase;
  color: $header-text-secondary;
  @media screen and (min-width: $tablet) {
    font-size: 34px;
    line-height: 0.91;
    @media screen and (min-width: $desktop) {
      font-size: 58px;
      line-height: 0.89;
    }
  }
}

.page-header__content--buttons {
  z-index: 3;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 158px;
  margin-left: 20px;
  @media screen and (min-width: $tablet) {
    margin-left: 32px;
    margin-bottom: 0;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 24px;
    margin-left: 16px;
  }
}

.page-header__content--btn1 {
  background-color: #d41443;
  color: $header-text-primary;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 7px 14.5px;
  font-family: $Primaryfont;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
}

.page-header__content--btn2 {
  margin-left: 8px;
  background-color: #ffffff;
  color: $header-text-secondary;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 7px 13.5px;
  font-family: $Primaryfont;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
}

.header__img {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 2;
  @media screen and (min-width: $tablet) {
    right: 303px;
  }
  @media screen and (min-width: $desktop) {
    right: 328px;
  }
}

.page-header__content--advantages {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 32px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 40px;
    margin-left: 16px;
    margin-bottom: 60px;
  }
}

.header__img--milk {
  //   display: none;
}

.page-header__content--text {
  @media screen and (min-width: $tablet) {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: $header-text-primary;
    display: inline-block;
    width: 114px;
    z-index: 2;
    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.43;
      width: 200px;
    }
  }
}

.header__img--tasty {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    position: absolute;
    right: 32px;
    bottom: 0;
    z-index: 2;
  }
  @media screen and (min-width: $desktop) {
    right: 16px;
  }
}

.page-header__content--btn3 {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-top: 7px;
  @media screen and (min-width: $desktop) {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}
.page-header__menu--button-tablet {
  display: none;
  @media screen and (min-width: $tablet) {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 32px;
    top: 32px;
    border-radius: 22px;
    background-color: $button-background;
    color: $button-text;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    width: 160px;
    padding: 10px 0;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.page-header__content--block {
  display: flex;
  flex-direction: column;
}

.page-header__content--boxes {
  position: absolute;
  top: 92px;
  right: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (min-width: $desktop) {
    right: 16px;
    top: 152px;
  }
}

.page-header__content--box1 {
  display: flex;
  flex-direction: column;
  width: 43px;
  height: 44px;
  position: relative;
  margin-bottom: 16px;
  //   align-items: center;
  @media screen and (min-width: $desktop) {
    width: 72px;
    height: 77px;
  }
}

.page-header__content--box2 {
  display: flex;
  flex-direction: column;
  width: 51px;
  height: 43px;
  position: relative;
  @media screen and (min-width: $desktop) {
    width: 92px;
    height: 76px;
  }
}

.box-ellips {
  width: 16px;
  height: 16px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  background-color: $background-secondary;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  @media screen and (min-width: $desktop) {
    width: 30px;
    height: 30px;
  }
}

.box-numbers {
  font-family: $Secondaryfont;
  color: $header-text-secondary;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  z-index: 2;
  text-align: center;
  @media screen and (min-width: $desktop) {
    font-size: 46px;
    line-height: 1.15px;
  }
}

.box-title {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  font-family: $Primaryfont;
  text-align: center;
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.29px;
  }
}

.left {
  text-align: left;
}
