.products {
    background-color: $background-secondary;
    padding: 60 0 60 0px;
}
.products__content {
    list-style-type:none
    }
// *мобильная версия*/
@media screen and (min-width: 320px) {
.container {
    padding: 0 20px 0 20px;
}
.products__label {   
color:$products-subtext;
Font-family: Titan One;
Font-style: Regular;
Font-size: 18px;
Line-height: 1.16;
text-align: center;
Vertical-align: Top;
text-transform:uppercase;
}
.products__header {
margin-top:15px;
color: $products-title;
Font-family: Titan One;
Font-style: Regular;
Font-size: 34px;
Line-height: 1.14;
text-align: center;
Vertical-align: Top;
Letter-spacing: 4%;
text-transform:uppercase;
}
.products__card{
box-sizing: border-box;
width: 280px;
height: 489px;
border-radius : 24px;
background-color: $products-ice-cream;
margin-bottom:140px;
padding:160 39 40 41px;
}
.products__title{
font-family: Titan One;
font-size: 20px;
font-weight: 400;
line-height: 1.15;
letter-spacing: 0.04em;
text-align: center;
text-transform:uppercase;
color:$header-text-primary;
}
.products__card:nth-child(2) {
    background-color:$products-ice-coffee ;
}
.products__card:last-child {
margin-bottom: 0;
background-color: $products-milkshakes;
}
.products__content {
    margin-top:148px;
}
.products__text {
    margin-top: 70px;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 1,5;
    letter-spacing: 0.04em;
    text-align: center;
    color:$header-text-primary;
}
.products__ button {
    margin: 32 81 0 79px;
}
}
