// Colors
// Main
$text-primary: #FFFFFF;
$background-main: #FFF5F6;
$background-secondary: #FFFFFF;

$button-background: #FFFFFF;
$button-text: #D41443;
$button-background-active: #D41443;
$button-text-active: #FFFFFF;

// Header
$header-background: #FFB8CA;
$header-circle: #FFA5BA;
$header-text-primary: #FFFFFF;
$header-text-secondary: #D41443;
$header-menu: #E17992;

// Products
$products-subtext: #FFA5BA;
$products-title: #D41443;
$products-ice-cream: #FFB8CA;
$products-ice-coffee: #F0D1A5;
$products-milkshakes: #C2E297;

// About
$about-subtext: #FFA5BA;
$about-title: #D41443;
$about-text: #FFFFFF;
$about-hover: #ECEBEB;

// Advantages
$advantages-subtext: #FFA5BA;
$advantages-title: #D41443;
$advantages-text: #000000;

// Gallery

// Customer Reviews
$customer-reviews-text: #000000;

// Contacts
$contacts-subtitle: #FFFFFF;
$contacts-cafe-bg: #F0D1A5;
$contacts-food-truck-bg: #C2E297;
$contacts-text: #907E82;
$contacts-time: #FFA5BA;

// Footer
$footer-subtitle: #FFA5BA;
$footer-title: #D41443;
$footer-copyright: #907E82;
$footer-contacts: #000000;
$footer-social-link: #FEA5BB;
$footer-social-link-active: #D41443;
$footer-contacts-tel: #D41443;

// Fonts
$Primaryfont: 'DM Sans', sans-serif;
$Secondaryfont: 'Titan One', cursive;
