<section class="about section">
  <div class="container">
    <p class="about__pretitle">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__wrapper">
      <div class="about__description-text">
        <picture class="about__pictures">
          <source
            srcset="
              ./images/advantages/cow-desc.png    1x,
              ./images/advantages/cow-desc@2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/advantages/cow-tab.png    1x,
              ./images/advantages/cow-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/advantages/cow-mob.png    1x,
              ./images/advantages/cow-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/advantages/cow-mob.png"
            alt="cow"
            class="about__img"
          />
        </picture>
        <!-- <img src="./images/" alt="cow" width="501" class="advantages__img" /> -->
        <div class="about__box">
          <ul class="about__content">
            <li class="text__content1">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
              justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
              erat at justo fringilla.
            </li>
            <li class="text__content2">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio
              elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
              euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
              Cras massa nibh,<wbr /> tincidunt.<span class="about__span"
                >Aliquam erat volutpat. Aenean accumsan.</span
              >
            </li>
          </ul>
          <button type="button" class="about__button" data-modal-window-open>
            Read more
            <svg class="icon__button" width="9" height="9">
              <use href="./images/about/icons.svg#icon-about-vector"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="backdrop is-hidden" data-modal-window>
   <div class="modal-window">
      <button class="button-close" data-modal-window-close>
         <svg class="icon__close" width="18" height="18">
            <use href="./images/about/icons.svg#icon-close-black"></use>
         </svg>
      </button>
   </div>
</div>
<!-- <script src="./js/about.js"></script> -->