<section class="about section">
   <div class="container">
      <p class="about__pretitle">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
      <ul class="about__description-list">
         <li class="about__description-text">
            <picture class="about__pictures">
               <source srcset="./images/advantages/cow-desc.png 1x ,
         ./images/advantages/cow-desc@2x.png 2x " media="(min-width:1200px)">

               <source srcset="./images/advantages/cow-tab.png 1x ,
         ./images/advantages/cow-tab@2x.png 2x" media="(min-width: 768px)">

               <source srcset="./images/advantages/cow-mob.png 1x ,
         ./images/advantages/cow-mob@2x.png 2x" media="(max-width: 767px">
               <img src="./images/advantages/cow-mob.png" alt="cow" class="about__img">

               </pictures>
               <!-- <img src="./images/" alt="cow" width="501" class="advantages__img" /> -->
               <div class="about__content">
                  <p class="text__content1">
                     Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
                     justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
                     erat at justo fringilla.
                  </p>
                  <p class="text__content2">
                     Curabitur lacinia enim at ex blandit, vel pellentesque odio
                     elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
                     euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
                     massa nibh,<wbr /> tincidunt.<span class="about__span">Aliquam erat volutpat. Aenean
                        accumsan.</span>
                  </p>
                  <button type="button" class="about__button">Read more</button>
               </div>
         </li>
      </ul>

   </div>
</section>