<section class="advantages section">
  <div class="container">
    <h3 class="advantages__pretitle">tradition and love</h3>
    <h2 class="advantages__title">how it’s made?</h2>
    <ul class="advantages__description-list">
      <li class="advantages__description-text">
        <picture>
         <source
         srcset="./src/images/advantages/cow-desc.png 1x ,
         ./src/images/advantages/cow-desc@2x.png 2x "
         media="(min-width:1200px)">

         <source
         srcset="./src/images/advantages/cow-tab.png 1x ,
         ./src/images/advantages/cow-tab@2x.png 2x"
         media="(min-width: 768px)">

         <source
         srcset="./src/images/advantages/cow-mob.png 1x ,
         ./src/images/advantages/cow-mob@2x.png 2x"
         media="(max-width: 767px">
         <img src="../images/advantages/cow-mob.png" alt="cow">
       
         </pictures>
        <!-- <img src="./images/" alt="cow" width="501" class="advantages__img" /> -->
        <div class="advantages__content">
          <p class="text__content1">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
          <p class="text__content2">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh,<wbr /> tincidunt.<span class="advantages__span"
              >Aliquam erat volutpat. Aenean accumsan.</span
            >
          </p>
          <button type="button" class="advantages__button">Read more</button>
        </div>
      </li>
    </ul>
    <ul class="advantages__list">
      <li class="advantages__item">
        <h3 class="advantages-list__title">721</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages-list__title">16kg</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages-list__title">84</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
