<section class="customer-reviews" id="customer-reviews">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          data-aos="fade-right"
        >
          <h2 class="customer-reviews__section-title">Customer Reviews</h2>

          <picture class="picture">
            <source
              srcset="
                ./images/customer-reviews/picdesc1x.jpg 1x,
                ./images/customer-reviews/picdesc2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/customer-reviews/pictab1x.jpg 1x,
                ./images/customer-reviews/pictab2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/customer-reviews/picmob1x.jpg 1x,
                ./images/customer-reviews/picmob2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              src="./images/customer-reviews/picmob1x.jpg"
              alt="фото девушки"
              width="85"
              height="85"
            />
          </picture>

          <div class="background-container">
            <div class="text-container">
              <p class="customer__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="customer-reviews__name">Emily, Los Angeles</p>
        </div>
        <div
          class="swiper-slide"
          data-aos="fade-right"
        >
          <h2 class="customer-reviews__section-title">Customer Reviews</h2>

          <picture class="picture">
            <source
              srcset="
                ./images/customer-reviews/pic2desc1x.jpg 1x,
                ./images/customer-reviews/pic2desc2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/customer-reviews/pic2desc1x.jpg 1x,
                ./images/customer-reviews/pic2desc2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/customer-reviews/pic2desc1x.jpg 1x,
                ./images/customer-reviews/pic2desc2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              src="./images/customer-reviews/pic2desc1x.jpg"
              alt="фото девушки"
              width="85"
              height="85"
            />
          </picture>

          <div class="background-container">
            <div class="text-container">
              <p class="customer__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="customer-reviews__name">Agata, Los Angeles</p>
        </div>
        <div
          class="swiper-slide"
          data-aos="fade-right"
        >
          <h2 class="customer-reviews__section-title">Customer Reviews</h2>

          <picture class="picture">
            <source
              srcset="
                ./images/customer-reviews/pic3desc1x.jpg 1x,
                ./images/customer-reviews/pic3desc2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/customer-reviews/pic3desc1x.jpg 1x,
                ./images/customer-reviews/pic3desc2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/customer-reviews/pic3desc1x.jpg 1x,
                ./images/customer-reviews/pic3desc2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              src="./images/customer-reviews/pic3desc1x.jpg"
              alt="фото девушки"
              width="85"
              height="85"
            />
          </picture>

          <div class="background-container">
            <div class="text-container">
              <p class="customer__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="customer-reviews__name">Viola, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
