<!--Gallary-->
<section class="gallery" id="gallery">
   <h2 class="gallery__title--hidden">gallary</h2>
  <div class="container masonary">
    <a href="./images/gallery/gallery-desc/gallery_desc_1_2x.png"
    class="item__grid" data-aos="zoom-in-right">
    
     
        <picture>
        
          <source
            srcset="
              ./images/gallery/gallery-desc/gallery_desc_1_1x.png 1x,
              ./images/gallery/gallery-desc/gallery_desc_1_2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/gallery-1-tab.png 1x,
              ./images/gallery/gallery-tab/gallery-1-tab@2x.png 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-mob/gallery-1-mob.png 1x,
              ./images/gallery/gallery-mob/gallery-1-mob@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-mob/gallery-1-mob.png"
            alt="white-ice-cream"
            loading="lazy"
          />
        </picture>
    </a>
    <a class="item__grid" data-aos="zoom-in-right"
    href="./images/gallery/gallery-desc/gallery_desc_2_2x.png">

        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desc/gallery_desc_2_1x.png 1x,
              ./images/gallery/gallery-desc/gallery_desc_2_2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/gallery-2-tab.png 1x,
              ./images/gallery/gallery-tab/gallery-2-tab@2x.png 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-mob/gallery-2-mob.png 1x,
              ./images/gallery/gallery-mob/gallery-2-mob@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/gallery/gallery-mob/gallery-2-mob.png" alt="pink-ice-cream"
          loading="lazy" />
        </picture>
    </a>
     
       <a class="item__grid" data-aos="zoom-in-right"
       href="./images/gallery/gallery-desc/gallery_desc_3_2x.png">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desc/gallery_desc_3_1x.png 1x,
              ./images/gallery/gallery-desc/gallery_desc_3_2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/gallery-3-tab.png 1x,
              ./images/gallery/gallery-tab/gallery-3-tab@2x.png 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-mob/gallery-3-mob.png 1x,
              ./images/gallery/gallery-mob/gallery-3-mob@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/gallery/gallery-mob/gallery-3-mob.png" alt="raspberry-ice-cream"
          loading="lazy" />
        </picture>
      </a>
     <a class="item__grid" data-aos="zoom-in"
     href="./images/gallery/gallery-desc/gallery_desc_4_2x.png">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desc/gallery_desc_4_1x.png 1x,
              ./images/gallery/gallery-desc/gallery_desc_4_2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/gallery-4-tab.png 1x,
              ./images/gallery/gallery-tab/gallery-4-tab@2x.png 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-mob/gallery-4-mob.png 1x,
              ./images/gallery/gallery-mob/gallery-4-mob@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/gallery/gallery-mob/gallery-4-mob.png" alt="blueberry-ice-cream" 
          loading="lazy"  />
        </picture>
      </a>
 
   <a class="item__grid" data-aos="zoom-in-up"
   href="./images/gallery/gallery-desc/gallery_desc_5_2x.png">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desc/gallery_desc_5_1x.png 1x,
              ./images/gallery/gallery-desc/gallery_desc_5_2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/gallery-5-tab.png 1x,
              ./images/gallery/gallery-tab/gallery-5-tab@2x.png 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-mob/gallery-5-mob.png 1x,
              ./images/gallery/gallery-mob/gallery-5-mob@2x.png 2x
            "
            media="(max-width:767px)"
          />

          <img src="./images/gallery/gallery-mob/gallery-5-mob.png" alt="girl-with-ice-cream" 
          loading="lazy"/>
        </picture>
   </a>
     <a class="item__grid" data-aos="zoom-in-left"
     href="./images/gallery/gallery-desc/gallery_desc_6_2x.png">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desc/gallery_desc_6_1x.png 1x,
              ./images/gallery/gallery-desc/gallery_desc_6_2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/gallery-6-tab.png 1x,
              ./images/gallery/gallery-tab/gallery-6-tab@2x.png 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-mob/gallery-6-mob.png 1x,
              ./images/gallery/gallery-mob/gallery-6-mob@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/gallery/gallery-mob/gallery-6-mob.png" alt="fruit-ice-cream"
          loading="lazy" />
        </picture>
     </a>
     <a class="item__grid" data-aos="zoom-in-up"
     href="./images/gallery/gallery-desc/gallery_desc_7_2x.png">

    
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desc/gallery_desc_7_1x.png 1x,
              ./images/gallery/gallery-desc/gallery_desc_7_2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/gallery-7-tab.png 1x,
              ./images/gallery/gallery-tab/gallery-7-tab@2x.png 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-mob/gallery-7-mob.png 1x,
              ./images/gallery/gallery-mob/gallery-7-mob@2x.png 2x
            "
            media="(max-width:767px)"
          />

          <img src="./images/gallery/gallery-mob/gallery-7-mob.png" alt="orange-ice-cream" 
          loading="lazy"/>
        </picture>
     </a>

  <a class="item__grid" data-aos="zoom-in-left"
  href="./images/gallery/gallery-desc/gallery_desc_8_2x.png">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desc/gallery_desc_8_1x.png 1x,
              ./images/gallery/gallery-desc/gallery_desc_8_2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/gallery-8-tab.png 1x,
              ./images/gallery/gallery-tab/gallery-8-tab@2x.png 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-mob/gallery-8-mob.png 1x,
              ./images/gallery/gallery-mob/gallery-8-mob@2x.png 2x
            "
            media="(max-width:767px)"
          />

          <img src="./images/gallery/gallery-mob/gallery-8-mob.png" alt="dog-with-ice-cream"
          loading="lazy" />
        </picture>
  </a>

  <a class="item__grid" data-aos="zoom-in-left"
  href="./images/gallery/gallery-desc/gallery_desc_9_2x.png">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desc/gallery_desc_9_1x.png 1x,
              ./images/gallery/gallery-desc/gallery_desc_9_2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/gallery-9-tab.png 1x,
              ./images/gallery/gallery-tab/gallery-9-tab@2x.png 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-mob/gallery-9-mob.png 1x,
              ./images/gallery/gallery-mob/gallery-9-mob@2x.png 2x
            "
            media="(max-width:767px)"
          />

          <img src="./images/gallery/gallery-mob/gallery-9-mob.png" alt="coffee-ice-cream" 
          loading="lazy"/>
        </picture>
  </a>
    <a class="item__grid" data-aos="zoom-in-left"
    href="./images/gallery/gallery-desc/gallery_desc_10_2x.png">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desc/gallery_desc_10_1x.png 1x,
              ./images/gallery/gallery-desc/gallery_desc_10_2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/gallery-10-tab.png 1x,
              ./images/gallery/gallery-tab/gallery-10-tab@2x.png 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-mob/gallery-10-mob.png 1x,
              ./images/gallery/gallery-mob/gallery-10-mob@2x.png 2x
            "
            media="(max-width:767px)"
          />

          <img src="./images/gallery/gallery-mob/gallery-10-mob.png" alt="donut-ice-cream" 
          loading="lazy"/>
        </picture>
    
    </a>
  </div>

</section>
