<header class="page-header">
  <div class="container page-header--display">
    <a href="./index.html" class="page-header__logo">
      <svg class="page-header__logo--icon" width="199" height="50">
        <use href="./images/header/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button
      class="page-header__button"
      aria-expanded="false"
      aria-controls="page-header__menu"
      type="button"
      data-menu-button
    >
      <svg
        class="page-header__icon--menu"
        width="41"
        height="36"
        aria-label="Переключатель мобильного меню"
      >
        <use href="./images/header/icons.svg#icon-menu"></use>
      </svg>
      <svg
        class="page-header__icon--close"
        width="14"
        height="14"
        aria-label="Переключатель мобильного меню"
      >
        <use href="./images/header/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="page-header__menu" data-menu id="page-header__menu">
      <button class="page-header__menu--button" type="button">
        Buy now<svg class="button-icon" width="8" height="11">
          <use href="./images/header/icons.svg#icon-buy-btn"></use>
        </svg>
      </button>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item navigation__item--current">
            <a href="./index.html" class="navigation__link">Home</a>
          </li>
          <li class="navigation__item">
            <a href="./index.html" class="navigation__link">About us</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">How it's made?</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Our products</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="page-header__content">
    <h1 class="page-header__title">
      ice cream made with
      <span class="page-header__title--accent">passion</span>
    </h1>
    <div class="page-header__content--buttons">
      <button class="page-header__content--btn1" type="button">Products</button>
      <button class="page-header__content--btn2" type="button">
        How it's made?
      </button>
    </div>
    <div class="page-header__content--ellipse"></div>
  </div>
</header>
