<header class="page-header">
  <div class="container page-header--display">
    <a href="./index.html" class="page-header__logo">
      <svg class="page-header__icon" width="199" height="50">
        <use href="./images/header/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button
      class="page-header__btn"
      aria-expanded="false"
      aria-controls="page-header__menu"
      type="button"
      data-menu-button
    >
      <svg
        class="page-header__icon--menu"
        width="41"
        height="36"
        aria-label="Переключатель мобильного меню"
      >
        <use href="./images/header/icons.svg#icon-menu"></use>
      </svg>
      <svg
        class="page-header__icon--close"
        width="14"
        height="14"
        aria-label="Переключатель мобильного меню"
      >
        <use href="./images/header/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="page-header__menu" data-menu id="page-header__menu">
      <button class="menu__btn" type="button">
        Buy now<svg class="buy-now__icon" width="8" height="11">
          <use href="./images/header/icons.svg#icon-buy-btn"></use>
        </svg>
      </button>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item navigation__item--current">
            <a href="#home" class="navigation__link">Home</a>
          </li>
          <li class="navigation__item">
            <a href="#about_us" class="navigation__link">About us</a>
          </li>
          <li class="navigation__item">
            <a href="#how_it's_made?" class="navigation__link"
              >How it's made?</a
            >
          </li>
          <li class="navigation__item">
            <a href="#our_products" class="navigation__link">Our products</a>
          </li>
          <li class="navigation__item">
            <a href="#contacts" class="navigation__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="page-header__btn--buy-now" type="button">
      Buy now<svg class="buy-now__icon" width="8" height="11">
        <use href="./images/header/icons.svg#icon-buy-btn"></use>
      </svg>
    </button>
  </div>
</header>
