<section class="hero">
  <div class="container container--hero">
    <h1 class="hero__title" data-aos="fade-right" data-aos-duration="500">
      ice cream made with
      <span class="hero__title--accent">passion</span>
    </h1>
    <ul class="hero__list--btn" data-aos="fade-right" data-aos-duration="500" id="menu">
      <li class="hero__item--btn">
        <a class="hero__link--first" href="#products" >Products</a>
      </li>
      <li class="hero__item--btn">
        <a class="hero__link--second" href="#about">How it's made?</a>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          ./images/header/header-milk-icon-desktop.png    1x,
          ./images/header/header-milk-icon-desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/header/header-milk-icon-tablet.png    1x,
          ./images/header/header-milk-icon-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="hero__icon--milk"
        loading="lazy"
        src="./images/header/header-milk-icon-tablet.png"
        alt="milk"
        data-aos="fade-right"
        data-aos-duration="500"
      />
    </picture>

    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <a href="./index.html" class="hero__link--third">
      <picture>
        <source
          srcset="
            ./images/header/header-btn3-desktop.png    1x,
            ./images/header/header-btn3-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/header/header-btn3-tablet.png    1x,
            ./images/header/header-btn3-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="hero__icon--btn"
          loading="lazy"
          src="./images/header/header-btn3-tablet.png"
          alt="btn"
        />
      </picture>
    </a>
    <ul class="hero__list--box" data-aos="fade-left" data-aos-duration="500">
      <li class="hero__item--box-first">
        <div class="hero__ellips--small"></div>
        <p class="hero__text--number left">16</p>
        <p class="hero__text--product">cafes</p>
      </li>
      <li class="hero__item--box-second">
        <div class="hero__ellips--small"></div>
        <p class="hero__text--number">23</p>
        <p class="hero__text--product left">food trucks</p>
      </li>
    </ul>
    <div class="hero__ellipse--large"></div>
    <picture>
      <source
        srcset="
          ./images/header/header-icon-desktop.png    1x,
          ./images/header/header-icon-desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/header/header-icon-tablet.png    1x,
          ./images/header/header-icon-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/header/header-icon-mobile.png    1x,
          ./images/header/header-icon-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="hero__icon--main"
        loading="lazy"
        src="./images/header/header-icon-mobile.png"
        alt="ice cream"
        data-aos="fade-up"
        data-aos-duration="500"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/header/header-tasty-icon-desktop.png    1x,
          ./images/header/header-tasty-icon-desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/header/header-tasty-icon-tablet.png    1x,
          ./images/header/header-tasty-icon-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="hero__icon--tasty"
        loading="lazy"
        src="./images/header/header-tasty-icon-tablet.png"
        alt="tasty"
        data-aos="fade-left"
        data-aos-duration="500"
      />
    </picture>
  </div>
</section>
