<section class="produkts">
    <h2 class="produkts-header">Produkts</h2>
    <p class="produkts-label">100% natural</p>
    <ul class="produkts_content">
        <li class="produkts_card">
         <h3 class="produrt-card_header">ice cream</h3>
         <p class="produrt-card_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
             sed do eiusmod tempor incididunt ut labore et</p>
         <!-- <img 
         scr="" 
         alt="розовое мороженное в вафельном стаканчике" 
         weight="368px" 
         height="394px"/> -->
         <button></button>
        </li>
        <li class="produkts_card">
            <h3 class="produrt-card_header">ice coffee</h3>
            <p class="produrt-card_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et</p>
            <!-- <img
            scr="" 
         alt="кофе с мороженным в стеклянном стакане" 
         weight="368px" 
         height="394px"/> -->
         <button></button>
        </li>
        <li class="produkts_card">
            <h3 class="produrt-card_header">milkshakes</h3>
            <p class="produrt-card_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et</p>
            <!-- <img
            scr="" 
         alt="шоколадный шейк с мороженным в стеклянном стакане" 
         weight="368px" 
         height="394px"/> -->
         <button></button>
        </li>
    </ul>
</section>