
<section class="products">
    <div class="containers">
    <p class="products_label">100% natural</p>
    <h2 class="products_header">Products</h2>
    <ul class="products_content">
        <li class="products_card">
         <h3 class="products__title">ice cream</h3>
         <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
             sed do eiusmod tempor incididunt ut labore et</p>
         <button class="products_buton"></button>
        </li>
        <li class="products_card">
            <h3 class="products__title">ice coffee</h3>
            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et</p>
         <button class="products_button"></button>
        </li>
        <li class="products_card">
            <h3 class="products__title">milkshakes</h3>
            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et</p>
         <button class="products_button"></button>
        </li>
    </ul>
</div>
</section>
