<section class="products">
    <h2 class="products_header">Produkts</h2>
    <label class="products_label">100% natural</label>
    <ul class="products_content">
        <li class="products_card">
         <h3 class="products__title">ice cream</h3>
         <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
             sed do eiusmod tempor incididunt ut labore et</p>
         <!-- <img 
         scr="" 
         alt="розовое мороженное в вафельном стаканчике" 
         weight="368px" 
         height="394px"/> -->
         <button class="products_button"></button>
        </li>
        <li class="products_card">
            <h3 class="products__title">ice coffee</h3>
            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et</p>
            <!-- <img
            scr="" 
         alt="кофе с мороженным в стеклянном стакане" 
         weight="368px" 
         height="394px"/> -->
         <button class="products_button"></button>
         <button ></button>
        </li>
        <li class="products_card">
            <h3 class="products__title">milkshakes</h3>
            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et</p>
            <!-- <img
            scr="" 
         alt="шоколадный шейк с мороженным в стеклянном стакане" 
         weight="368px" 
         height="394px"/> -->
         <button class="products_button"></button>
        </li>
    </ul>
</section>